body{
    background: #E8E8E8;
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.formulario{
    min-width: 600px;
    margin-top: 50px;
    background: #ffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.formulario > div{
    margin-bottom: 20px;
}
.formulario{
    display: block;
    font-weight: 600px;
    font-size: 14px;
    margin-bottom: 5px;
    color: #1f1f1f;

}
.formulario input{
    padding: 12px;

}

.estado_sivil{
   position: relative;
   font-family: Arial;
   padding: 11px;
   width: 200px;
}
.estado_sivil select{
    display: none;
}
